## 데이터프레임

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 = 키 & 여러 개의 값 (리스트 형태)
test_dict = {
    'c1': [1,2,3],
    'c2': [4,5,6],
    'c3': [7,8,9],
    'c4': [10,11,12]
}
print(test_dict)

{'c1': [1, 2, 3], 'c2': [4, 5, 6], 'c3': [7, 8, 9], 'c4': [10, 11, 12]}

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(test_dict)
print(df)
print(type(df))
# 딕셔너리의 키 = 데이터프레임의 열 이름
# 딕셔너리의 값 = 데이터프레임의 열 값
# 딕셔너리의 값 = 리스트의 요소 개수 = 행 인덱스

   c1  c2  c3  c4
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12
<class 'pandas.core.frame.DataFrame'>

### 인덱스

In [ ]:
# 행 인덱스와 열 이름 설정하여 데이터프레임 생성
df = pd.DataFrame([["정대만", 19, 184],
                   ["서태웅", 17, 187]],
                  index = ['선수1', '선수2'], # 행 인덱스
                  columns = ['이름', '나이', '키']) # 열 이름
print(df)

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 행 인덱스 확인
print(df.index)
# 열 이름 확인
print(df.columns)

Index(['선수1', '선수2'], dtype='object')
Index(['이름', '나이', '키'], dtype='object')

In [ ]:
# 행 인덱스, 열 이름 => 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['성명', '연령', '신장']
print(df)

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  187

In [ ]:
# 메소드 함수 = 클래스 안에 있는 함수
# 행 인덱스, 열 이름 => 이름 변경
# rename 메소드 함수의 반환값은 새로운 데이터프레임
df_new = df.rename(index = {'학생1': '선수1', '학생2': '선수2'})
print(df)
print(df_new)

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  187
      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 원본을 바로 변경
print(df) # 변경 전
df.rename(index = {'학생1': '선수1', '학생2': '선수2'}, inplace = True)
print(df) # 변경 후

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  187
      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
df_new = df.rename(columns = {'성명': '이름', '연령': '나이', '신장': '키'})
print(df)
print(df_new)

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 원본을 바로 변경
print(df) # 변경 전
df.rename(columns = {'성명': '이름', '연령': '나이', '신장': '키'}, inplace = True)
print(df) # 변경 후

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

### 행, 열 삭제

In [ ]:
# 딕셔너리 생성
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 18], 'ft': [3, 1, 6]}

In [ ]:
pd.DataFrame(score_dict)

   point3  point2  ft
0      24       6   3
1       3       4   1
2       9      18   6

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(score_dict, index = ['정대만','강백호','서태웅'])
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# 사본 저장
df1 = df[:]
print(df1)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# drop 메소드 함수 반환 결과는 새로운 데이터프레임
# 행 삭제 => axis = 0
print(df1) # 변경 전
df2 = df1.drop('강백호', axis = 0)
print(df2) # 변경 후 = 새로운 데이터프레임

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6

In [ ]:
print(df1) # 변경 전
df1.drop('강백호', axis = 0, inplace = True)
print(df1) # 변경 후 = df1

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6

<ipython-input-16-72005ea994cf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('강백호', axis = 0, inplace = True)

In [ ]:
# 사본 저장
df1 = df[:]
# 열 삭제 => axis = 1
print(df1) # 변경 전
df2 = df1.drop('ft', axis = 1)
print(df2) # 변경 후 = 새로운 데이터프레임
print(df1) # 변경 전
df1.drop('ft', axis = 1, inplace = True)
print(df1) # 변경 후 = df1

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2
정대만      24       6
강백호       3       4
서태웅       9      18
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2
정대만      24       6
강백호       3       4
서태웅       9      18

<ipython-input-17-ae1bc30df46e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop('ft', axis = 1, inplace = True)

In [ ]:
# 여러 개의 행, 열 삭제 = 리스트 형태
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 행 삭제
df1.drop(['강백호', '서태웅'], axis = 0, inplace = True)
print(df1) # 변경 후
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 열 삭제
df1.drop(['point2', 'ft'], axis = 1, inplace = True)
print(df1) # 변경 후

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3
정대만      24
강백호       3
서태웅       9

<ipython-input-18-344e37e9e405>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['강백호', '서태웅'], axis = 0, inplace = True)
<ipython-input-18-344e37e9e405>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['point2', 'ft'], axis = 1, inplace = True)

In [ ]:
# 여러 개의 행, 열 삭제 = 리스트 형태
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 행 삭제
df2 = df1.drop(index = ['강백호', '서태웅'])
print(df2) # 변경 후 = 새로운 데이터프레임
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 열 삭제
df2 = df1.drop(columns = ['point2', 'ft'])
print(df2) # 변경 후 = 새로운 데이터프레임

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3
정대만      24
강백호       3
서태웅       9

### 행 선택

In [ ]:
# 딕셔너리 생성
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 18], 'ft': [3, 1, 6]}

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(score_dict, index = ['정대만','강백호','서태웅'])
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# loc 인덱서 = 이름
print(df.loc['정대만']) # 시리즈
print(df.loc[['정대만']]) # 데이터프레임

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
     point3  point2  ft
정대만      24       6   3

In [ ]:
# iloc 인덱서 = 숫자
print(df.iloc[0]) # 시리즈
print(df.iloc[[0]]) # 데이터프레임

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
     point3  point2  ft
정대만      24       6   3

In [ ]:
# 여러 개의 행 선택
print(df.loc[['정대만','서태웅']]) # 데이터프레임
print(df.iloc[[0, 2]]) # 데이터프레임

     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6

In [ ]:
# 여러 개의 행 선택 (범위 지정 = 슬라이싱)
print(df.loc['강백호':'서태웅']) # 데이터프레임
print(df.iloc[0:2]) # 데이터프레임
print(df.iloc[0:1+1]) # 데이터프레임

     point3  point2  ft
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1

### 열 선택

In [ ]:
# 열 선택하는 방법 3가지
# 열 하나 선택
print(df['point3']) # 시리즈
print(df[['point3']]) # 데이터프레임
print(df.point3) # 시리즈
# 여러 개의 열 선택
print(df[['point3', 'ft']]) # 데이터프레임

정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3
정대만      24
강백호       3
서태웅       9
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3  ft
정대만      24   3
강백호       3   1
서태웅       9   6

### 여러 개의 행 & 열 선택

In [ ]:
# 여러 개의 행 & 열 선택
print(df.loc['강백호':'서태웅', ['point3', 'ft']]) # 데이터프레임
print(df.loc[['정대만', '서태웅'], ['point3', 'ft']]) # 데이터프레임

     point3  ft
강백호       3   1
서태웅       9   6
     point3  ft
정대만      24   3
서태웅       9   6

In [ ]:
# 여러 개의 행 & 열 선택
print(df.iloc[1:3, [0, 2]]) # 데이터프레임
print(df.iloc[[0, 2], [0, 2]]) # 데이터프레임

     point3  ft
강백호       3   1
서태웅       9   6
     point3  ft
정대만      24   3
서태웅       9   6

### 원소 선택

In [ ]:
# = 행과 열을 동시에 선택 => [행,열]
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# 행만 선택
print(df.loc['정대만'])
print(df.iloc[0])

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
point3    24
point2     6
ft         3
Name: 정대만, dtype: int64

In [ ]:
# 열만 선택 = 모든 행 선택
print(df.loc[:,'point3'])
print(df.iloc[:,0])

정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64

In [ ]:
# 행과 열을 동시에 선택
print(df.loc['정대만','point3'])
print(df.iloc[0,0])

24
24

In [ ]:
# 여러 개의 행과 하나의 열 선택
print(df.loc[['정대만','서태웅'],'point2'])
print(df.iloc[[0,2],1])

정대만     6
서태웅    18
Name: point2, dtype: int64
정대만     6
서태웅    18
Name: point2, dtype: int64

In [ ]:
# 하나의 행과 여러 개의 열 선택
print(df.loc['정대만',['point3','ft']])
print(df.iloc[0,[0,2]])

point3    24
ft         3
Name: 정대만, dtype: int64
point3    24
ft         3
Name: 정대만, dtype: int64

In [ ]:
# 여러 개의 행과 여러 개의 열 선택
print(df.loc[['정대만','서태웅'],['point3','ft']])
print(df.iloc[[0,2],[0,2]])

     point3  ft
정대만      24   3
서태웅       9   6
     point3  ft
정대만      24   3
서태웅       9   6

In [ ]:
# 여러 개의 행과 여러 개의 열 선택(슬라이싱)
print(df.loc['정대만':'서태웅','point3':'ft'])
print(df.iloc[0:2+1,0:2+1])
print(df.iloc[0:3,0:3])

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

### 열 추가

In [ ]:
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# 전부 같은 값을 가진 열 추가
df['foul'] = 2
print(df)

     point3  point2  ft  foul
정대만      24       6   3     2
강백호       3       4   1     2
서태웅       9      18   6     2

In [ ]:
# 다른 값을 가진 열 추가 = 리스트 형태
df['rebound'] = [1, 10, 5]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

### 행 추가

In [ ]:
# 행 3 * 열 5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

In [ ]:
# 전부 같은 값을 가진 행 추가
df.loc['채치수'] = 0
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0

In [ ]:
# 다른 값을 가진 행 추가 = 리스트 형태
df.loc['송태섭'] = [9, 10, 6, 3, 0]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0
송태섭       9      10   6     3        0

### 원소값 변경

In [ ]:
# 행과 열을 동시에 선택해서 값을 변경
print(df)
# 행 5 * 열 5

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0
송태섭       9      10   6     3        0

In [ ]:
# 하나의 행과 하나의 열을 선택하여 값 변경
df.loc['채치수','rebound'] = 5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        5
송태섭       9      10   6     3        0

In [ ]:
df.iloc[4,4] = 1
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        5
송태섭       9      10   6     3        1

In [ ]:
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = 2
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       2   0     2        5
송태섭       9      10   6     3        1

In [ ]:
df.iloc[3, [1, 3]] = 4
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       4   0     4        5
송태섭       9      10   6     3        1

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       4   0     4        5
송태섭       9      10   6     3        1

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = 4
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        4
서태웅       9      18   6     2        5
채치수       0       4   0     4        4
송태섭       9      10   6     3        1

In [ ]:
df.iloc[[1,3], 4] = 3
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        3
서태웅       9      18   6     2        5
채치수       0       4   0     4        3
송태섭       9      10   6     3        1

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수', '송태섭'], ['point3', 'point2']] = 0
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        3
서태웅       9      18   6     2        5
채치수       0       0   0     4        3
송태섭       0       0   6     3        1

In [ ]:
df.iloc[[3, 4], [0, 1]] = 6
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2        3
서태웅       9      18   6     2        5
채치수       6       6   0     4        3
송태섭       6       6   6     3        1

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경(슬라이싱)
df.loc['강백호':'채치수', 'ft':'rebound'] = 1
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     1        1
서태웅       9      18   1     1        1
채치수       6       6   1     1        1
송태섭       6       6   6     3        1

In [ ]:
df.iloc[1:4, 2:5] = 2
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       6   2     2        2
송태섭       6       6   6     3        1

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       6   2     2        2
송태섭       6       6   6     3        1

In [ ]:
# 다른 값으로 변경
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = [10, 4]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6      10   2     4        2
송태섭       6       6   6     3        1

In [ ]:
# 대괄호 생략해서 한 번에 할당
df.loc['채치수', ['point2', 'foul']] = 2, 1
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       2   2     1        2
송태섭       6       6   6     3        1

In [ ]:
df.iloc[3, [1, 3]] = [4, 3]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       4   2     3        2
송태섭       6       6   6     3        1

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = [10, 5]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2       10
서태웅       9      18   2     2        2
채치수       6       4   2     3        5
송태섭       6       6   6     3        1

In [ ]:
df.iloc[[1,3], 4] = [12, 7]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2       12
서태웅       9      18   2     2        2
채치수       6       4   2     3        7
송태섭       6       6   6     3        1

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수', '송태섭'], ['point3', 'point2']] = [0, 8], [9, 8]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2       12
서태웅       9      18   2     2        2
채치수       0       8   2     3        7
송태섭       9       8   6     3        1

In [ ]:
df.iloc[[3, 4], [0, 1]] = [1, 4], [3, 2]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2       12
서태웅       9      18   2     2        2
채치수       1       4   2     3        7
송태섭       3       2   6     3        1

### 행과 열 위치 바꾸기

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2       12
서태웅       9      18   2     2        2
채치수       1       4   2     3        7
송태섭       3       2   6     3        1

In [ ]:
print(df.T)

         정대만  강백호  서태웅  채치수  송태섭
point3    24    3    9    1    3
point2     6    4   18    4    2
ft         3    2    2    2    6
foul       2    2    2    3    3
rebound    1   12    2    7    1

In [ ]:
print(df.transpose())

         정대만  강백호  서태웅  채치수  송태섭
point3    24    3    9    1    3
point2     6    4   18    4    2
ft         3    2    2    2    6
foul       2    2    2    3    3
rebound    1   12    2    7    1

## 인덱스 활용

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 생성
sd = {
    "이름": ["정대만","강백호","채치수"],
    "키": [184, 189, 193],
    "나이": [19, 17, 19],
    "득점": [28, 1, 20]
}
print(sd)

{'이름': ['정대만', '강백호', '채치수'], '키': [184, 189, 193], '나이': [19, 17, 19], '득점': [28, 1, 20]}

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(sd)
print(df)
# 딕셔너리의 키 = 열 이름
# 딕셔너리의 값 = 열 값
# 리스트 인덱스 = 행 인덱스

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20

### 특정 열을 행 인덱스로 설정

In [ ]:
print(df)
# 새로운 데이터프레임을 반환
df_new = df.set_index('이름')
print(df_new)
# 원래 행 인덱스(정수)가 없어지고 이름 열이 행 인덱스가 됨
# 이름 열이 사라짐

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20

In [ ]:
print(df_new)
df_new2 = df.set_index('키')
print(df_new2)
# 키 열이 행 인덱스가 되고, 행 인덱스였던 이름 열이 다시 열로 돌아옴

       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20
      이름  나이  득점
키
184  정대만  19  28
189  강백호  17   1
193  채치수  19  20

In [ ]:
# 여러 개의 열을 행 인덱스로 설정
print(df)
df_new = df.set_index(['이름', '키'])
print(df_new)

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
         나이  득점
이름  키
정대만 184  19  28
강백호 189  17   1
채치수 193  19  20

In [ ]:
# 원본 변경
print(df) # 변경 전
df.set_index(['이름'], inplace = True)
print(df) # 변경 후

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20

### 행 인덱스 재배열

In [ ]:
# 딕셔너리 생성
a_dict = {
    "c1": [1,2,3,4],
    "c2": [5,6,7,8],
    "c3": [9,10,11,12],
    "c4": [13,14,15,16]
}
df = pd.DataFrame(a_dict, index = ['r0','r1','r2','r3'])
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

In [ ]:
# 행 인덱스 재배열
print(df)
# 새로운 데이터프레임 반환
df1 = df.reindex(['r1','r3','r0','r2'])
print(df1)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r1   2   6  10  14
r3   4   8  12  16
r0   1   5   9  13
r2   3   7  11  15

In [ ]:
print(df)
# 새로운 행 인덱스를 추가하면 해당 값은 NaN 로 채워짐
df2 = df.reindex(['r0','r1','r2','r3','r4','r5'])
print(df2)
df3 = df.reindex(['r0','r1','r2','r3','r4','r5'], fill_value = 0)
print(df3)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
     c1   c2    c3    c4
r0  1.0  5.0   9.0  13.0
r1  2.0  6.0  10.0  14.0
r2  3.0  7.0  11.0  15.0
r3  4.0  8.0  12.0  16.0
r4  NaN  NaN   NaN   NaN
r5  NaN  NaN   NaN   NaN
    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
r4   0   0   0   0
r5   0   0   0   0

### 행 인덱스 초기화

In [ ]:
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

In [ ]:
# 행 인덱스 초기화
# 기존 행 인덱스 => 열
# 행 인덱스는 정수
print(df)
# 새로운 데이터프레임 반환
df4 = df.reset_index()
print(df4)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
  index  c1  c2  c3  c4
0    r0   1   5   9  13
1    r1   2   6  10  14
2    r2   3   7  11  15
3    r3   4   8  12  16

In [ ]:
# 원본 변경
print(df) # 변경 전
df.reset_index(inplace = True)
print(df) # 변경 후

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
  index  c1  c2  c3  c4
0    r0   1   5   9  13
1    r1   2   6  10  14
2    r2   3   7  11  15
3    r3   4   8  12  16

### 행 인덱스 기준 정렬

In [ ]:
# 딕셔너리 생성
a_dict = {
    "c1": [1,2,3,4],
    "c2": [5,6,7,8],
    "c3": [9,10,11,12],
    "c4": [13,14,15,16]
}
df = pd.DataFrame(a_dict, index = ['r0','r1','r2','r3'])
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

In [ ]:
# 행 인덱스가 내림차순 정렬 = r3 ~ r0
print(df)
# 새로운 데이터프레임 반환
df1 = df.sort_index(ascending=False)
print(df1)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r3   4   8  12  16
r2   3   7  11  15
r1   2   6  10  14
r0   1   5   9  13

In [ ]:
# 원본 변경
# 행 인덱스가 내림차순 정렬 = r3 ~ r0
print(df)
df.sort_index(ascending=False, inplace = True)
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r3   4   8  12  16
r2   3   7  11  15
r1   2   6  10  14
r0   1   5   9  13

In [ ]:
# 행 인덱스가 오름차순 정렬 = r0 ~ r3
print(df)
# 기본값이 ascending=True 이고, 생략 가능
df.sort_index(inplace = True)
# df.sort_index(ascending=True, inplace = True)
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

### 열 기준 정렬

In [ ]:
# = 열이 가지고 있는 값으로 정렬
print(df)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

In [ ]:
# 내림차순
print(df)
# 새로운 데이터프레임으로 반환
df1 = df.sort_values('c1', ascending = False)
# df1 = df.sort_values(by = 'c1', ascending = False)
print(df1)

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r3   4   8  12  16
r2   3   7  11  15
r1   2   6  10  14
r0   1   5   9  13

In [ ]:
# 원본 변경
# 내림차순
print(df) # 변경 전
df.sort_values('c1', ascending = False, inplace = True)
print(df) # 변경 후

    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16
    c1  c2  c3  c4
r3   4   8  12  16
r2   3   7  11  15
r1   2   6  10  14
r0   1   5   9  13

In [ ]:
# 오름차순
print(df)
# 새로운 데이터프레임으로 반환
df1 = df.sort_values('c1')
# df1 = df.sort_values(by = 'c1', ascending = True)
print(df1)

    c1  c2  c3  c4
r3   4   8  12  16
r2   3   7  11  15
r1   2   6  10  14
r0   1   5   9  13
    c1  c2  c3  c4
r0   1   5   9  13
r1   2   6  10  14
r2   3   7  11  15
r3   4   8  12  16

## 산술 연산

### 시리즈 & 숫자

In [ ]:
import pandas as pd

In [ ]:
# 딕셔너리를 시리즈로 변환
student1 = pd.Series({"국어": 80,
                      "영어": 50,
                      "수학": 90})
print(student1)
# 딕셔너리의 키 = 시리즈의 인덱스
# 딕셔너리의 값 = 시리즈의 값

국어    80
영어    50
수학    90
dtype: int64

In [ ]:
student1_edit = student1 + 10
print(student1_edit)
# 시리즈 객체로 반환
print(type(student1_edit))

국어     90
영어     60
수학    100
dtype: int64
<class 'pandas.core.series.Series'>

### 시리즈 & 시리즈

In [ ]:
# 딕셔너리를 시리즈로 변환
student1 = pd.Series({"국어": 80,
                      "영어": 50,
                      "수학": 90})
student2 = pd.Series({"영어": 90,
                      "수학": 20,
                      "국어": 90})
print(student1);print(student2)

국어    80
영어    50
수학    90
dtype: int64
영어    90
수학    20
국어    90
dtype: int64

In [ ]:
# 사칙연산
plus = student1 + student2
minus = student1 - student2
mul = student1 * student2
div = student1 / student2
print(plus);print(minus);print(mul);print(div)

국어    170
수학    110
영어    140
dtype: int64
국어   -10
수학    70
영어   -40
dtype: int64
국어    7200
수학    1800
영어    4500
dtype: int64
국어    0.888889
수학    4.500000
영어    0.555556
dtype: float64

In [ ]:
# 데이터프레임
df = pd.DataFrame([plus, minus, mul, div],
                  index = ['더하기','빼기','곱하기','나누기'])
print(df)

              국어      수학           영어
더하기   170.000000   110.0   140.000000
빼기    -10.000000    70.0   -40.000000
곱하기  7200.000000  1800.0  4500.000000
나누기     0.888889     4.5     0.555556

In [ ]:
# 전치하여 결과를 보자
print(df.T)
print(df.transpose())

      더하기    빼기     곱하기       나누기
국어  170.0 -10.0  7200.0  0.888889
수학  110.0  70.0  1800.0  4.500000
영어  140.0 -40.0  4500.0  0.555556
      더하기    빼기     곱하기       나누기
국어  170.0 -10.0  7200.0  0.888889
수학  110.0  70.0  1800.0  4.500000
영어  140.0 -40.0  4500.0  0.555556

1) 대응되는 행 인덱스는 있는데 그 값이 NaN 인 경우 +
2) 대응되는 행 인덱스가 없는 경우

In [ ]:
import numpy as np
# 딕셔너리를 시리즈로 변환
student1 = pd.Series({"국어": 80,
                      "영어": 50,
                      "수학": 90}) # 대응되는 행 인덱스가 없는 경우
student2 = pd.Series({"영어": 90,
                      "국어": np.nan}) # 대응되는 행 인덱스는 있는데 그 값이 NaN 인 경우

In [ ]:
# 사칙연산
plus = student1 + student2
minus = student1 - student2
mul = student1 * student2
div = student1 / student2
# 데이터프레임
df = pd.DataFrame([plus, minus, mul, div],
                  index = ['더하기','빼기','곱하기','나누기'])
print(df)

     국어  수학           영어
더하기 NaN NaN   140.000000
빼기  NaN NaN   -40.000000
곱하기 NaN NaN  4500.000000
나누기 NaN NaN     0.555556

#### NaN 으로 바뀌는 것을 막는 방법

In [ ]:
import numpy as np
# 딕셔너리를 시리즈로 변환
student1 = pd.Series({"국어": np.nan,
                      "영어": 50,
                      "수학": 90})
student2 = pd.Series({"영어": 90,
                      "국어": 80})

In [ ]:
# 사칙연산 => 연산 메소드
plus = student1.add(student2, fill_value = 0)
minus = student1.sub(student2, fill_value = 0)
mul = student1.mul(student2, fill_value = 0)
div = student1.div(student2, fill_value = 0)
# 데이터프레임
df = pd.DataFrame([plus, minus, mul, div],
                  index = ['더하기','빼기','곱하기','나누기'])
print(df)
# 계산결과 국어 앞에 있는 값이 0, 수학 뒤에 있는 값 0

       국어    수학           영어
더하기  80.0  90.0   140.000000
빼기  -80.0  90.0   -40.000000
곱하기   0.0   0.0  4500.000000
나누기   0.0   inf     0.555556

### 데이터프레임 & 숫자

In [ ]:
import seaborn as sns
# 타이타닉 데이터 불러오기(라이브러리 내장 데이터)
titanic = sns.load_dataset('titanic')
# 데이터 앞부분 보기 = 기본값이 5개의 행
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [ ]:
# age, fare 열을 추출 = 모든 행과 age, fare 열 2개
df = titanic.loc[:,['age','fare']]
df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [ ]:
plus = df + 5
print(plus)
print(type(plus))

      age     fare
0    27.0  12.2500
1    43.0  76.2833
2    31.0  12.9250
3    40.0  58.1000
4    40.0  13.0500
..    ...      ...
886  32.0  18.0000
887  24.0  35.0000
888   NaN  28.4500
889  31.0  35.0000
890  37.0  12.7500

[891 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

### 데이터프레임 & 데이터프레임

In [ ]:
import seaborn as sns
# 타이타닉 데이터 불러오기(라이브러리 내장 데이터)
titanic = sns.load_dataset('titanic')
# age, fare 열을 추출 = 모든 행과 age, fare 열 2개
df = titanic.loc[:,['age','fare']]
plus = df + 5
# 데이터프레임과 데이터프레임을 이용해서 빼기
minus = plus - df
print(minus)

     age  fare
0    5.0   5.0
1    5.0   5.0
2    5.0   5.0
3    5.0   5.0
4    5.0   5.0
..   ...   ...
886  5.0   5.0
887  5.0   5.0
888  NaN   5.0
889  5.0   5.0
890  5.0   5.0

[891 rows x 2 columns]

# 데이터 살펴보기

## 데이터프레임 구조

### 데이터 미리 보기

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# csv 파일 불러오기 + 열 이름이 없음(header = None)
df = pd.read_csv('/content/drive/MyDrive/lsda02/data/auto-mpg.csv', header = None)

In [ ]:
# 열 이름 지정
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
              'acceleration', 'model_year', 'origin', 'car_name']

In [ ]:
# 데이터 미리 보기 = 살펴 보기
# head, tail
# 앞 부분 보기
df.head() # 기본값이 5개의 행

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
# 10개의 행
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

In [ ]:
# 3개의 행
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite

In [ ]:
# 뒷 부분 보기
df.tail() # 기본값이 5개의 행

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
# 10개의 행
df.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
388,26.0,4,156.0,92.00,2585.0,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l
390,32.0,4,144.0,96.00,2665.0,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.00,2370.0,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.00,2950.0,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [ ]:
# 3개의 행
df.tail(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

### 데이터 요약 정보 확인

In [ ]:
# 데이터의 크기 확인 = 2개의 값이 튜플 형태로 출력 = (행의 개수, 열의 개수)
df.shape

(398, 9)

In [ ]:
df.shape[0]

398

In [ ]:
df.shape[1]

9

In [ ]:
# 데이터의 기본 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
# 데이터의 자료형 확인
# 데이터의 모든 열의 자료형
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [ ]:
# 특정 열의 자료형
df.mpg.dtypes

dtype('float64')

In [ ]:
df['mpg'].dtypes

dtype('float64')

In [ ]:
df[['mpg', 'weight']].dtypes

mpg       float64
weight    float64
dtype: object

In [ ]:
# 기술통계 정보 요약
df.describe() # 요약할 수 있는 숫자형 열이 7개

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
df.describe(include = 'all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [ ]:
df.describe(include = 'object')

       horsepower    car_name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

In [ ]:
df.describe(exclude = 'object')

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

### 데이터 개수 확인

In [ ]:
# 데이터의 모든 열의 개수 확인
print(df.count())
print(type(df.count()))

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model_year      398
origin          398
car_name        398
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# 특정 열의 개수 확인
print(df.mpg.count())
print(type(df.mpg.count()))

398
<class 'numpy.int64'>

In [ ]:
print(df['mpg'].count())
print(type(df['mpg'].count()))

398
<class 'numpy.int64'>

In [ ]:
print(df[['mpg', 'weight']].count())
print(type(df[['mpg', 'weight']].count()))

mpg       398
weight    398
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# 고유값 개수 = 빈도표 = 빈도가 높은 순으로 정렬
print(df.origin.value_counts())
print(type(df.origin.value_counts()))

1    249
3     79
2     70
Name: origin, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
print(df['origin'].value_counts())
print(type(df['origin'].value_counts()))

1    249
3     79
2     70
Name: origin, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
print(df[['origin', 'car_name']].value_counts())
print(type(df[['origin', 'car_name']].value_counts()))

origin  car_name
1       ford pinto                     6
        ford maverick                  5
        amc matador                    5
3       toyota corolla                 5
1       chevrolet impala               4
                                      ..
        ford ranger                    1
        ford thunderbird               1
        ford torino                    1
        ford torino 500                1
3       toyouta corona mark ii (sw)    1
Length: 305, dtype: int64
<class 'pandas.core.series.Series'>

## 통계함수

In [ ]:
# 평균
# 데이터 모든 열
print(df.mean(numeric_only=True))
print(type(df.mean(numeric_only=True)))
# 특정 열
print(df.mpg.mean())
print(type(df.mpg.mean()))
print(df['mpg'].mean())
print(type(df['mpg'].mean()))

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model_year        76.010050
origin             1.572864
dtype: float64
<class 'pandas.core.series.Series'>
23.514572864321607
<class 'numpy.float64'>
23.514572864321607
<class 'numpy.float64'>

In [ ]:
print(df[['mpg', 'weight']].mean())
print(type(df[['mpg', 'weight']].mean()))

mpg         23.514573
weight    2970.424623
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
# 중앙값
# 데이터 모든 열
print(df.median(numeric_only=True))
# 특정 열
print(df.mpg.median())
print(df['mpg'].median())
print(df[['mpg', 'weight']].median())

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model_year        76.0
origin             1.0
dtype: float64
23.0
23.0
mpg         23.0
weight    2803.5
dtype: float64

In [ ]:
# 최대값
# 데이터 모든 열
print(df.max())
# 특정 열
print(df.mpg.max())
print(df['mpg'].max())
print(df[['mpg', 'weight']].max())

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                    5140.0
acceleration                24.8
model_year                    82
origin                         3
car_name        vw rabbit custom
dtype: object
46.6
46.6
mpg         46.6
weight    5140.0
dtype: float64

In [ ]:
# 최소값
# 데이터 모든 열
print(df.min())
# 특정 열
print(df.mpg.min())
print(df['mpg'].min())
print(df[['mpg', 'weight']].min())

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                        100.0
weight                           1613.0
acceleration                        8.0
model_year                           70
origin                                1
car_name        amc ambassador brougham
dtype: object
9.0
9.0
mpg          9.0
weight    1613.0
dtype: float64

In [ ]:
# 표준편차
# 데이터 모든 열
print(df.std(numeric_only=True))
# 특정 열
print(df.mpg.std())
print(df['mpg'].std())
print(df[['mpg', 'weight']].std())

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model_year        3.697627
origin            0.802055
dtype: float64
7.815984312565782
7.815984312565782
mpg         7.815984
weight    846.841774
dtype: float64

In [ ]:
# 표준편차의 제곱 = 분산
# 표준편차 = 제곱근(분산)
print(df.mpg.std()**2)
print(df.mpg.var())

61.089610774274405
61.089610774274405

In [ ]:
# 상관계수
# 상관행렬
print(df.corr(numeric_only=True))
print(df[['mpg', 'weight']].corr())

                   mpg  cylinders  displacement    weight  acceleration  \
mpg           1.000000  -0.775396     -0.804203 -0.831741      0.420289
cylinders    -0.775396   1.000000      0.950721  0.896017     -0.505419
displacement -0.804203   0.950721      1.000000  0.932824     -0.543684
weight       -0.831741   0.896017      0.932824  1.000000     -0.417457
acceleration  0.420289  -0.505419     -0.543684 -0.417457      1.000000
model_year    0.579267  -0.348746     -0.370164 -0.306564      0.288137
origin        0.563450  -0.562543     -0.609409 -0.581024      0.205873

              model_year    origin
mpg             0.579267  0.563450
cylinders      -0.348746 -0.562543
displacement   -0.370164 -0.609409
weight         -0.306564 -0.581024
acceleration    0.288137  0.205873
model_year      1.000000  0.180662
origin          0.180662  1.000000
             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

# 데이터 전처리

## 널값

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

### 널값 확인

In [ ]:
# = 비어 있는 데이터(값) = 누락 데이터 = NaN Not a Number
df = sns.load_dataset('titanic')
df.info()
# Non-Null Count
# 전체 행 개수가 891개 이므로 Non-Null Count도 891개가 되어야 널값이 없는 것
# 891개보다 적으면 널값이 있으니 확인!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
# 빈도표 = 해당 열 고유값 & NaN 미포함
df['deck'].value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: deck, dtype: int64

In [ ]:
# 빈도표 = 해당 열 고유값 & NaN 포함
df['deck'].value_counts(dropna = False)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [ ]:
# 널값을 직접 확인
# isnull() 의 결과가 True = 널값, False = 널값이 아님
df.head().isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [ ]:
# isnull() 의 결과가 True = 널값이 아님, False = 널값
df.head().notnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True

### 널값 개수

In [ ]:
# 널값 개수 합 = 열 단위로 계산하는 것이 기본
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# 열 단위로 계산
df.isnull().sum(axis = 0)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# 행 단위로 계산
df.isnull().sum(axis = 1)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [ ]:
# 널값 개수
# 다음 문법으로는 우리가 원하는 열의 널값 개수를 확인할 수 없음
df.isnull().value_counts()
df.notnull().value_counts()

survived  pclass  sex   age    sibsp  parch  fare  embarked  class  who   adult_male  deck   embark_town  alive  alone
True      True    True  True   True   True   True  True      True   True  True        False  True         True   True     530
                                                                                      True   True         True   True     182
                        False  True   True   True  True      True   True  True        False  True         True   True     158
                                                                                      True   True         True   True      19
                        True   True   True   True  False     True   True  True        True   False        True   True       2
dtype: int64

In [ ]:
# 반복문으로 해결 - 우리가 원하는 열의 널값 개수를 확인 가능
for column in df.columns:
  print(df[column].isnull().value_counts())

False    891
Name: survived, dtype: int64
False    891
Name: pclass, dtype: int64
False    891
Name: sex, dtype: int64
False    714
True     177
Name: age, dtype: int64
False    891
Name: sibsp, dtype: int64
False    891
Name: parch, dtype: int64
False    891
Name: fare, dtype: int64
False    889
True       2
Name: embarked, dtype: int64
False    891
Name: class, dtype: int64
False    891
Name: who, dtype: int64
False    891
Name: adult_male, dtype: int64
True     688
False    203
Name: deck, dtype: int64
False    889
True       2
Name: embark_town, dtype: int64
False    891
Name: alive, dtype: int64
False    891
Name: alone, dtype: int64

### 널값 제거

In [ ]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [ ]:
df = df.dropna(axis = 1)

In [ ]:
# 특정 개수 이상의 널값이 있는 열 삭제
df = df.dropna(axis = 1, thresh = 300)

In [ ]:
df.columns

Index(['survived', 'pclass', 'sex', 'sibsp', 'parch', 'fare', 'class', 'who',
       'adult_male', 'alive', 'alone'],
      dtype='object')

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
# 널값이 있는 행 삭제
# any = 행 기준으로 널값이 하나라도 있으면 삭제
df.dropna(subset = ['age'], how = 'any')
# = df.dropna(subset = 'age', how = 'any', axis = 0)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
# all = 행 기준으로 모두 널값이면 삭제
df.dropna(subset = 'age', how = 'all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### 널값 대체 imputation

#### 평균

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
# 평균으로 대체
age_mean = df['age'].mean()

In [ ]:
df['age'].fillna(age_mean)
# df['age'].fillna(age_mean, inplace = True) <= 원본 변경

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

#### 최빈값

In [ ]:
# 널값을 직접 찾아서 확인
df[df['embark_town'].isnull() == True]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

In [ ]:
# 널값 확인
df['embark_town'][826:831]

826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
830      Cherbourg
Name: embark_town, dtype: object

In [ ]:
df['embark_town'].value_counts()

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [ ]:
# 최빈값 가져오기
town_mode = df['embark_town'].value_counts().idxmax()

In [ ]:
town_mode

'Southampton'

In [ ]:
# 최빈값으로 대체
df['embark_town'].fillna(town_mode, inplace = True)

In [ ]:
# 대체 결과 확인
df['embark_town'][826:831]

826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
830      Cherbourg
Name: embark_town, dtype: object

In [ ]:
# 널값 확인
df['embark_town'].isnull().value_counts()

False    891
Name: embark_town, dtype: int64

In [ ]:
# 최빈값 확인
df['embark_town'].value_counts()

Southampton    646
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

#### 주변의 값

In [ ]:
# 널값을 직접 찾아서 확인
df[df['embarked'].isnull() == True]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,Southampton,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,Southampton,yes,True

In [ ]:
# 널값 확인
df['embarked'][826:831]

826      S
827      C
828      Q
829    NaN
830      C
Name: embarked, dtype: object

In [ ]:
# 앞에 있는 값으로 대체
df['embarked'].fillna(method = 'ffill')[826:831]

826    S
827    C
828    Q
829    Q
830    C
Name: embarked, dtype: object

In [ ]:
# 뒤에 있는 값으로 대체
df['embarked'].fillna(method = 'bfill')[826:831]

826    S
827    C
828    Q
829    C
830    C
Name: embarked, dtype: object

## 중복 데이터

In [ ]:
# 중복 데이터 만들기
df = pd.DataFrame({'c1': ['a','a','b','a','b'],
                   'c2': [1,1,1,2,2],
                   'c3': [1,1,2,2,2]})

In [ ]:
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
# 중복 데이터 확인
print(df['c1'])
print(df['c1'].duplicated()) # True 가 중복이라는 의미

0    a
1    a
2    b
3    a
4    b
Name: c1, dtype: object
0    False
1     True
2    False
3     True
4     True
Name: c1, dtype: bool

In [ ]:
# 중복 데이터 제거
print(df['c1'])
print(df['c1'].drop_duplicates())

0    a
1    a
2    b
3    a
4    b
Name: c1, dtype: object
0    a
2    b
Name: c1, dtype: object

In [ ]:
# 중복 데이터 확인
print(df)
print(df.duplicated()) # True 가 중복이라는 의미

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
# 중복 데이터 제거
print(df)
print(df.drop_duplicates())

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
# 중복 데이터 제거
print(df[['c2','c3']])
print(df[['c2','c3']].drop_duplicates()) # 부분집합으로 제거
print(df.drop_duplicates(subset = ['c2','c3'])) # 전체집합을 유지 & 특정열 중복 데이터 제거

   c2  c3
0   1   1
1   1   1
2   1   2
3   2   2
4   2   2
   c2  c3
0   1   1
2   1   2
3   2   2
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

## 데이터 표준화

### 단위 환산

In [ ]:
import pandas as pd

In [ ]:
# 데이터 불러오기
# csv 파일 불러오기 + 열 이름이 없음(header = None)
df = pd.read_csv('/content/drive/MyDrive/lsda02/data/auto-mpg.csv', header = None)

In [ ]:
# 열 이름 지정
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
              'acceleration', 'model_year', 'origin', 'car_name']

In [ ]:
# 연비 mpg = mile per gallon
# kpl = kilometer per liter
# 1 mpg = 0.425 kpl
kpl = 0.425
df['kpl'] = df['mpg'] * kpl
df['kpl'] = df['kpl'].round(1)
print(df.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model_year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                   car_name  kpl
0       1  chevrolet chevelle malibu  7.6
1       1          buick skylark 320  6.4
2       1         plymouth satellite  7.6
3       1              amc rebel sst  6.8
4       1                ford torino  7.2